.card_shop{
    position: absolute;
    top: 60px;
    right: 145px;
    width: 60%;
    height: 400px;
    padding: 20px 24px;
    border: 1px solid #03C988;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    backdrop-filter: blur(3px);
}

.pay_section{
    width: 25%;
    height: 200px;
    background: transparent;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 60px;
    left: 25px;
    border-radius: 7PX;
    border: 3.7px dashed #03C988;
    display: flex;
    align-items: self-start baseline;
    justify-content: space-around;
    flex-direction: column;
    padding: 17px 35px 0px 35px;
}

.product_price{
    display: flex;
    justify-content: space-between;
}

.product_price span{
    margin: 0!important;
}

.shop_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shop_product{
    width: 100%;
    height: 100px;
    background: #03C988;
    padding: 5px;
    border-radius: 7px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    overflow: hidden;
}

.shop_product:hover{
    transform: scale(1.009);
}



.item_title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 60px;
}

.item_title .name{
    font-size: 20px;
}

.item_title .model{
    margin-top: 8px;
    font-size: 14px;
}

.item_prof{
    display: flex;
    align-items: center;
    margin: 5px 0 5px 20px;
    padding: 3px;
}

.item_img{
    margin: 10px 15px 10px 25px;
}

.item_img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.item_delete{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    color: #fff;
}

.shop_inv_sec{
    background: #FFF;
    border: 2.3px dashed #03C988;
    border-radius: 7px;
    width: 20%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    background: #003d5c;
}

.shop_inv_sec span{
    margin-top: 13px;
    margin: 13px 15px 0 15px;
}