.shop_title{
    position: absolute;
    top: 27px;
    right: 250px;
    font-size: 22px;
    padding-bottom: 10px;
    color: #424242;
}

.shop_title::after{
    content: '';
    width: 1090px;
    height: 2px;
    background: #cecece;
    position: absolute;
    bottom: 0;
    right: 0;
}

.shop_title span{
    cursor: pointer;
}

.shop_title .bottom_color{
    height: 2.1px;
    width: 83px;
    position: absolute;
    bottom: -.2px;
    right: 0;
    background: #03C988;
    z-index: 2;
}

.card_shop{
    position: absolute;
    top: 60px;
    right: 225px;
    width: calc(100% - 47%);
    height: 100vh;
    padding: 20px 24px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    backdrop-filter: blur(3px);
    margin-top: 20px;
}

.pay_section{
    width: calc(100% - 75%);
    height: 200px;
    background: transparent;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 60px;
    left: 35px;
    border-radius: 7PX;
    border: 3.7px dashed #03C988;
    display: flex;
    align-items: self-start baseline;
    justify-content: space-around;
    flex-direction: column;
    padding: 17px 35px 0px 35px;
    margin-top: 20px;
}

.product_price{
    display: flex;
    justify-content: space-between;
}

.product_price span{
    margin: 0!important;
}

.pay_section .pay_btn{
    margin-bottom: 10px;
}

.pay_section .pay_btn button{
    width: 100%;
    color: #353535;
    padding: 7px 13px;
    background: #FFF;
    border: .8px solid #03C988;
    border-radius: 7px;
    font-size: 16px;
}

.pay_section .pay_btn button:hover{
    background: #03C988;
    color: #FFF;    
}

.shop_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3px 7px;
}

.shop_product{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 7px;
    position: relative;
    display: flex;
    align-items: center;
    color: #2c2c2c;
}

.shop_product:hover{
    transform: scale(1.009);
}



.item_title{
    display: flex;
    align-items: self-start baseline;
    flex-direction: column;
    margin-left: 60px;
}

.item_title .color i{
    color: rgb(113, 113, 216)!important;    
}

.item_title .name{
    font-size: 18px;
}

.item_delete span{
    position: absolute;
    top: 60px;
    left: 80px;
}

.item_delete .pr{
    position: absolute;
    top: 58px;
    left: 37px;
}

.item_delete .offer{
    position: absolute;
    top: 21px;
    left: 94px;
    font-size: 10px;
    color: rgb(184, 1, 1);
}

.item_delete .offer_text{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 10px;
    color: rgb(184, 1, 1);
}

.item_title .model{
    margin-top: 8px;
    font-size: 12px;
}

.item_title .model i {
    color: #515151;
    margin-left: 10px;
}

.item_title .shild{
    font-size: 12px;
    margin-top: 7px;
    color: #515151;
}

.item_title .shild i{
    margin-left: 10px;
}

.item_title .post{
    font-size: 12px;
    margin-top: 7px;
    color: #424242;
}

.item_title .post i {
    color: #686868;
    margin-left: 7px;
}

.item_title .stock{
    font-size: 12px;
    margin-top: 7px;
}

.item_title .stock i{
    color: #03C988;
    margin-left: 10px;
}

.span{
    position: absolute;
    bottom: 25px;
    left: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e2e2e2;
    border-radius: 7px;
    padding: 5px 10px;
}

.span span{
    cursor: pointer;
}

.span .box{
    width: 30px;
    height: 35px;
    background: #ffffff;
    border-radius: 7px;
    margin: 10px;
    text-align: center;
}

.item_prof{
    display: flex;
    align-items: center;
    margin: 5px 0 5px 20px;
    padding: 3px;
}

.item_img{
    margin: 10px 15px 10px 25px;
}

.item_img img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.item_delete{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    color: #515151;
}

.shop_inv_sec{
    background: #FFF;
    border: 2.3px dashed #03C988;
    border-radius: 7px;
    width: 20%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    background: #003d5c;
}

.shop_inv_sec span{
    margin-top: 13px;
    margin: 13px 15px 0 15px;
}

.gift_card img{
    width: 340px;
    height: 150px;
    position: absolute;
    top: 304px;
    left: 38px;
    border-radius: 7px;
    filter: blur(1px);
}

.gift_card .name_gift{
    z-index: 3;
    color: #e2e2e2;
    position: absolute;
    top: 360px;
    left: 98px;
    font-size: 27px;
}