@charset 'utf-8';
@import url('../Assets/font/font.css');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: vazir , sans-serif;
}


body{
    background: #e3e7e8;
}

.container{
    width: 1000px;
    margin: auto;
    transition: all .4s;
}

header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

header .Shopping{
    position: relative;
    text-align: left;
}

header .Shopping img{
    width: 40px;
}

header .Shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -2px;
    left: -9px;
    width: 15px;
    height: 15px;
    padding: 14px;
}



.list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}


